/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Container styling */
#quiz-container{
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    margin: 10px 0;
}



#quiz-results-container {
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    margin: 10px 0;
    overflow-y: auto; /* Enable scrolling if content overflows */

}


#question-counter {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    text-align: left;
}

#question {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

/* Adjust to center answer choices properly */
#choices {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons */
    justify-content: center;
    gap: 10px;
}

/* Choice buttons */
.choice {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%; /* Full width of the container */
    max-width: 300px; /* Limit button width */
    text-align: center;
}

.choice:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
}

.choice:active {
    transform: translateY(0);
}

#quiz-container button[disabled] {
    cursor: not-allowed;
}

/* Result styles */
#quiz-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2ecc71;
}

#quiz-container p {
    font-size: 1.2rem;
    color: #333;
}

#quiz-container button {
    background-color: #181b19;
    color: rgb(255, 255, 255);
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

/* Hover effect for larger screens */
@media (min-width: 1280px) {
    #quiz-container button:hover {
        background-color: #27ae60;
    }
}

/* Disable hover effect on touch devices */
@media (hover: none) {
    #quiz-container button:hover {
        background-color: #181b19;
    }
}

#quiz-container button:active {
    transform: translateY(2px);
}

/* General Review Styling */
.review-item {
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
    transition: transform 0.3s ease;
}

.review-item:hover {
    transform: translateY(-5px);
}

.review-question {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.wrong-answer {
    color: #e74c3c;
    font-weight: bold;
}

.correct-answer {
    color: #2ecc71;
    font-weight: bold;
}

/* General Button Styling */
.styled-btn {
    background-color: #2ecc71;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.styled-btn:hover {
    background-color: #27ae60;
}

.styled-btn:active {
    transform: translateY(2px);
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 0 auto;
}

@media (min-width: 1280px) {
    #main-menu-btn:hover {
        background-color: #2980b9;
    }
}

@media (hover: none) {
    #main-menu-btn:hover {
        background-color: #181b19;
    }
}

#main-menu-btn:active {
    transform: translateY(2px);
}

/* Button container styling */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Center specific buttons */
.center-button {
    text-align: center;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    #quiz-container {
        padding: 15px;
        margin: 10px;
    }

    .styled-btn, .choice {
        padding: 10px;
        font-size: 0.9rem;
        max-width: 180px;
    }
}

/* Quiz logs container styling */
#quiz-logs-container {
    margin-top: 30px;
}

#quiz-logs {
    margin-top: 15px;
}

.quiz-log {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.quiz-log p {
    margin: 0 0 5px 0;
    font-size: 1rem;
}

.progress-bar-wrapper {
    display: flex;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: 2px solid #181b19; /* Add border for testing */
}

.progress-bar {
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.correct {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.incorrect {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.log-stats {
    font-weight: bold; /* Make the text bold */
    padding: 10px;
}

h2 {
    font-size: 2rem;
    color: #2ecc71;
    margin-bottom: 20px;
    text-align: center;
}



/* Questions Table */
.questions-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.questions-table th,
.questions-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.questions-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.questions-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.questions-table tr:hover {
    background-color: #e9e9e9;
}

/* Pagination Controls */
#pagination-controls {
    text-align: center;
    margin-bottom: 20px;
}

.pagination-btn {
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-btn.active,
.pagination-btn:hover {
    background-color: #2980b9;
}





/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  /* Use full width */
    height: 100%; /* Use full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of other elements */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 90%; /* For responsiveness */
    box-sizing: border-box;
  }
  


/* Default styles for Main Menu Button */
#main-menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    /* Adjust Main Menu Button */
    #main-menu-btn {
        position: static;     /* Remove fixed positioning */
        margin: 0 auto 20px;  /* Center the button and add bottom margin */
        display: block;       /* Ensure it's a block-level element */
        width: fit-content;   /* Adjust width to fit content */
        padding: 8px 16px;    /* Reduce padding for smaller size */
        font-size: 0.9rem;    /* Adjust font size */
    }

    /* Adjust Quiz Container */
    #quiz-container {
        margin: 0 auto;       /* Center the container */
        padding: 15px;        /* Add padding */
        width: 100%;          /* Ensure full width on mobile */
    }

    /* Adjust Other Buttons */
    .styled-btn, .choice {
        padding: 10px;
        font-size: 0.9rem;
        max-width: 180px;
    }
}

