/* General Review Styling */
.review-item {
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
    transition: transform 0.3s ease;
}

.review-item:hover {
    transform: translateY(-5px);
}

.review-question {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.wrong-answer {
    color: #e74c3c;
    font-weight: bold;
}

.correct-answer {
    color: #2ecc71;
    font-weight: bold;
}

/* Quiz logs container styling */
#quiz-logs-container {
    margin-top: 30px;
}

#quiz-logs {
    margin-top: 15px;
}

.quiz-log {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.quiz-log p {
    margin: 0 0 5px 0;
    font-size: 1rem;
}

.progress-bar-wrapper {
    display: flex;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.correct {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.incorrect {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
